h1{
    font-size: 2.4em;
    text-align: center;
    letter-spacing: 4px;
    color: #333;
}
.iphone{
    width: 423px;
    height: 817px;
    background: #f8f8f8;
    position: relative;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border:5px solid #d9dbdc;
    padding: 13px;
    border-radius: 50%;
    margin: 30px auto;
    position: relative;
}
.iphone-top {
    padding: 5px 110px 40px;
    position: relative;
}
.iphone-top .speaker{
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728;
}
.iphone-top .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333;
}
.iphone-top .sensor{
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    border-radius: 50%;
    background: #333;
    float: left;
}
.top-bar, .bottom-bar{
    display: block;
    width: 423px;
    height: 15px;
    border-left: 5px solid #bbb;
    border-right: 5px solid #bbb;
    position: absolute;
    left: -5px;
}
.top-bar{
    top: 65px;
}
.bottom-bar{
    bottom: 65px;
}
.iphone-screen{
    background: #eee;
    padding: 30px 0;
    border: 1px solid #fff;
    height: 617px;
    width: 375px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
}
.button .on-off, .button .up, .button .down, .button .sleep{
    display: block;
    border-radius: 2px 0px 0px 2px;
    background: #ccc;
    position: absolute;
}
.button .on-off{
    width: 3px;
    height: 40px;
    top: 100px;
    left: -8px;
}
.button .up, .button .down, .button .sleep{
    width: 5px;
    height: 60px;
    left: -10px;
}
.button .up{
    top: 170px;
}
.button .down{
    top: 250px;
}
.button .sleep{
    top: 170px;
    left: auto;
    right: -10px;
    border-radius: 0px 2px 2px 0px;
}
.iphone-bottom{
    padding: 10px 0 0;
}
.iphone-bottom span{
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #ccc;
    position: relative;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #302233 100%);
}
.iphone-bottom span::after{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}